body {
  margin: 0;
  padding-top: 0em;
  font-family: sans-serif;
}
.container{
  padding: 0;
  margin-top: 0px;
}
.nav-tabs{
  border-bottom: 1px solid lightgrey;
}
.nav-link.active{
    border: none;
    background: #e2e4f8
    }
.col-md-12.list-unstyled{
  padding: 0em 0em 0em 0em;
  background: white;

}
li.col-md-12{
  padding:0 0em;
}
.SurveyListItem{
  color: #111;
  padding: 0em;
  margin: 0;
  background:#fff;
  padding: 1em 0.4em;
  border-bottom: 1px solid gainsboro;
}
.SurveyListItem a{
  margin: 0 0.1em;
}
.nav-tabs > li > a {
    margin-right: px;
    border-radius: 0;
    border: none;
}
a {
    color: #42b0ac;
    text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: dodgerblue

}
.glyphicon-trash:hover{
  color: darkred;
}
.hide{
  display: none;
}
label{
  padding-right: 0.3em
}
.notAvailable{
        border-left: 0.4em solid dodgerblue;
        border-right : 0.1em solid dodgerblue

    }
.available{
        border-left: 0.4em solid lightseagreen;
        border-right: 0.1em solid lightseagreen

    }
.hidden{
  display: none;
}
.targetAudience .form-group{
  padding: 1em 0;
}
.targetAudience{
  background: #f5f9f9;
}
.disabled{
  background: rgba(230, 20, 9, 0.04);
  border-radius:0 15px;
  padding-bottom: 1em;
}
.checkbox{
  margin-top: 0px;
}
.targetAudience button{
  margin: 1em
}
.enabled{
  background:rgba(42, 204, 25, 0.04);
  border-radius:0 15px;
  padding-bottom: 1em;
}
.navigator{
  padding-top: 1em;
  padding-bottom: 1em;
}
.grad{
background-image: repeating-linear-gradient(175deg,rgb(255,255,255),rgb(233,230,209)50%,rgb(245,254,240)70%);
padding-top: 2em;
}
.zeb{
  background-image: repeating-linear-gradient(-90deg,transparent,transparent 25px,rgba(100,100,100,0.8)80%)
}
.question{
  padding:1em;
  border: 1px o 1px 0 solid goldenrod;
}
.choice{
  color: #03011d;
}
.addQuestions{
  padding: 1em;
  border: 1px solid lightskyblue;
}
button{
  margin:1em;
}
.glyphicon-home{
  font-size: 1.5em;
  color: green
}
.grad h3,h5,h4{
   color: #03011d;
  text-align: center;
}
.vote label{
  color: #03011d;
  padding-left: 5%;
}
input[type=radio] :checked{
  background-color: #42b0ac;
}
.results h5,h4,label,p{
  text-align: center;
}
.result{
  padding-top: 1em;
}
.glyphicon-exclamation-sign{
  font-size: 1.5em;
}
table{
  table-layout: fixed;
  word-wrap: break-word;
}
td{
  width: inherit;
}
th.choice{
  width: 75%
}

th.vote{
  width: 25%
}
.spinner{
  padding:3em 0;
}
input[type="text"]{
  box-sizing: border-box;
}
.col-md-10{
  padding-bottom: 1em;
}
